In [1]:
import pandas as pd
import cloudpickle

# This is the output of the data_gen script.
df = pd.read_csv(f'data/rsim.csv')

# Also load the forwarding tables
with open('data/rsim.ft', 'rb') as f:
    ft = cloudpickle.load(f)

In [2]:
# Dataframe of the packet data.
df

,timestamp,pkt_len,cur_hub,cur_port,path,priority,flow_id,etime
0,0.188571,41.075720,31,0,31_0,0,1,0.221432
1,0.221432,23.536378,15,1,31_0-15_1,0,1,0.254293
2,0.254293,133.370327,13,3,31_0-15_1-13_3,0,1,0.287153
3,0.274665,63.291129,26,0,26_0,0,3,0.325298
4,0.287153,94.732716,3,3,31_0-15_1-13_3-3_3,0,1,0.320014
...,...,...,...,...,...,...,...,...
33655,999.640860,0.552683,8,0,21_0-6_0-4_2-0_1-8_0,0,2,999.688017
33656,999.645008,118.738517,5,1,30_0-15_1-13_2-2_0-5_1,0,4,999.680867
33657,999.659335,78.759706,18,3,31_0-15_1-13_3-3_3-17_0-18_3,0,1,999.699969
33658,999.680867,17.023489,7,2,30_0-15_1-13_2-2_0-5_1-7_2,0,4,999.716726
33659,999.688017,0.044880,10,3,21_0-6_0-4_2-0_1-8_0-10_3,0,2,999.735173

In [3]:
# Forwarding table
# Keys are devices, values are the forwarding table dictionary (flow_id -> port_number)
ft

{0: {2: 1, 3: 2},
 1: {},
 2: {4: 0},
 3: {0: 3, 1: 3},
 4: {2: 2},
 5: {4: 1},
 6: {2: 0},
 7: {4: 2},
 8: {2: 0, 3: 2},
 9: {},
 10: {2: 3},
 11: {3: 0},
 12: {3: 1},
 13: {0: 3, 1: 3, 4: 2},
 14: {0: 1},
 15: {1: 1, 3: 2, 4: 1},
 16: {},
 17: {0: 1, 1: 0},
 18: {1: 3},
 19: {0: 2},
 20: {},
 21: {2: 0},
 22: {},
 23: {},
 24: {},
 25: {},
 26: {3: 0},
 27: {},
 28: {},
 29: {0: 0},
 30: {4: 0},
 31: {1: 0},
 32: {},
 33: {},
 34: {},
 35: {}}