In [2]:
import pandas as pd

# This is the output of the data_gen script.
df = pd.read_csv(f'rsim.csv')

# Also load the forwarding tables

In [3]:
df = pd.DataFrame(columns=)

,timestamp,pkt_len,cur_hub,cur_port,path,priority,flow_id,etime
0,0.023432,144.266352,23,0,23_0,0,0,0.138846
1,0.138846,128.233913,7,0,23_0-7_0,0,0,0.254259
2,0.254259,58.770287,4,3,23_0-7_0-4_3,0,0,0.369672
3,0.369672,99.518690,1,2,23_0-7_0-4_3-1_2,0,0,0.485085
4,0.397413,66.220953,30,0,30_0,0,4,0.450390
...,...,...,...,...,...,...,...,...
42873,999.408953,14.536924,17,1,24_0-10_1-9_2-2_3-17_1,0,2,999.498309
42874,999.498309,76.400366,19,2,24_0-10_1-9_2-2_3-17_1-19_2,0,2,999.587664
42875,999.525437,73.566472,14,3,30_0-15_0-12_0-14_3,0,4,999.649852
42876,999.530206,22.018421,4,0,29_0-14_0-12_2-0_0-4_0,0,1,999.652494
42877,999.652494,33.628603,6,3,29_0-14_0-12_2-0_0-4_0-6_3,0,1,999.774783